---
---

@import "{{ site.theme }}";

.center-image
{
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 200px;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 260px;
    height: 120px;
    padding-top:30px;
}