---
---

@import "{{ site.theme }}";

.center-image
{
    margin: 0 auto;
    display: block;
}

#wrapperHeader{
    position: relative;
    background-image:url(img/bird_bot.png);
}

#header{
    left: 50%;
    margin-left: 500px;
    background:url(img/bird_bot.png) no-repeat;
    width:300px;
    height:150px;
}